<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bitcoin.collector.collection">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">
        <activity android:name="bitcoin.collector.collection.activity.aboutAndPrivacy.AboutAndPrivacyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="bitcoin.collector.collection.activity.webView.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="bitcoin.collector.collection.activity.help.HelpActivity"
            android:screenOrientation="portrait" />
        <activity android:name="bitcoin.collector.collection.activity.withdrawHistory.WithdrawHistoryActivity" />
        <activity
            android:name="bitcoin.collector.collection.activity.editProfile.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="bitcoin.collector.collection.activity.home.HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="bitcoin.collector.collection.activity.login.EnterPhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="bitcoin.collector.collection.activity.login.OtpVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="bitcoin.collector.collection.activity.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="bitcoin.collector.collection.activity.splash.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/appLovinSdkKey" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="bitcoin.collector.collection.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <receiver
            android:name="bitcoin.collector.collection.alarmManager.NotificationReceiver"
            android:enabled="true" />
    </application>

</manifest>